* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Helvetica,arial,sans-serif;
  color: #333;
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
}


img {
  max-width: 100%;
  height: auto;
}
a {
  color: #3bb2c4;
  text-decoration: none;
}
a:hover {
  color: #333;
}
li {
  font-family: Georgia, serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  
  font-size: 16px;
}
#header{
  flex-wrap: wrap;
}
#header img{
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}






@media (max-width: 550px) {

    nav > ul {    
  }
}

@media (max-width: 550px) {
  #features .icon {
    
  }
}