* {
    padding: 0;
    margin: 0;
    
}

img {
        max-width: 100%;
        height: auto;

}

#main-wrapper {
    display: grid;
    grid-gap: 6px;
    
    
}
header {
    border-bottom: 1.5px solid #1a3aac;
}
#header {
    grid-column-start: span 3;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    align-items: flex-end;
    justify-content: space-between;
    
    
    
}

#main {
    padding: 50px;
    margin-top: 85px;
    grid-column-start: span 3;
    background-color: #ffffff;
}

#footer {
    grid-column-start: span 3;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}



.logo img {
    max-width: 60px;
    margin-bottom: -5px;
}

.logo p {
    color : #1a3aac;
    text-shadow: rgb(229, 229, 229);
}


#nav-bar ul {
    display: flex;
    list-style: none;
    
    
}

#nav-bar li{
    margin-left: 15px;

}

#nav-bar a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 1px 16px;
    background-color: #1a3aac;
    color: #f2f2f2;
    font-size: 20px; 
    font-weight: 300;
    letter-spacing: 1px
}

#nav-bar a:hover {
    background-color: #3bb2c4;
    color: #f2f2f2;
}

#nav-bar a:active, .active {
    background-color:green;
    color: white;
}

#top-section {
    display: flex;
    flex-direction: column;
}
#form {
    display: flex;
    padding: 12px;
    margin: 6px 0 4px;
    border: 1px solid #ccc; 
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    border-radius: 2px;
    justify-content: center;

}

#email {
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    flex:1;
    justify-content: center;

}

#mission-holder {
    flex:1;
    justify-content: center;
}

#services {
    margin-top: 85px;
    display: flex;
    flex-direction: column;

}

#services-top {
    padding: 10px;
    display: flex;
    flex-basis: 40%;
}
#services-img {
    padding: 5px;
    flex:1;
    width: auto;
    height:auto;
    max-width: 100;
}

#services-desc {
    padding: 10px;
    flex: 1;
    color: #1a3aac;
}
@media (min-width:600px){
    #services-top {
        padding: 10px;
    }
}

#services-desc p {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

#service-bottom p, #mission-holder {
    color: rgb(170, 170, 170);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;

}


#contact{
    display: flex;
    margin-top: 85px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.address {
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 10px;
}

.address address {
    flex:1;
    color:rgb(27, 68, 132);
    line-height: 30px;
}
.address p{
    flex:1;
    color: rgb(170, 170, 170);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}






.form{
    flex:1;
    margin: 10px;
}

.formrow {
    padding: 1px 0px;
    display: flex;
}
.formrow input{
    padding-right: 10px;
    flex:1;
}
.formrow label {
    flex:1;
    color: rgb(170, 170, 170);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}



#contact-img {
    flex:1;
    min-width: 25%;
    
}
#contact-img img{
    max-width: 100%;
    height: auto;
}

#footer ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;


}
#footer li {
    flex: 1;
    margin: 20px;
    
}
#footer span {
    flex:1;
    margin: 20px;
    
}

#footer a {
    text-decoration: none;
    color: #1a3aac;
    
}
#footer a:hover {
    color: #5c84f4;
}